.m-newest-post {
    margin: -10px 0;
    list-style: none;
    overflow: hidden;

    .u-post {
        padding: 15px 10px;
        border-bottom: 1px solid #cccccc;
        font-size: 12px;
        overflow: hidden;

        &:last-child {
            border-bottom: none;
        }
    }
    .u-icon {
        .dbi;
        .w(20px);
        border-radius: 3px;
        vertical-align: middle;
    }

    .u-quest-name {
        .u-name;
    }

    .u-name {
        .dbi;
        .ml(8px);
        vertical-align: middle;
        text-decoration: none;
        color: #24292e;

        &:not([href]) {
            color: #3d454d;
            &:hover {
                box-shadow: none;
            }
        }
    }


    .u-post-head {
        .u-quest {
            .mt(5px);
            a {
                text-decoration: none;
            }
        }

        .u-author {
            a {
                text-decoration: none;
            }
        }

        .u-author,
        .u-updated,
        .u-quest-name,
        .u-quest-level,
        .u-post-remark {
            display: inline-block;
            .mr(15px);
            vertical-align: middle;
        }

        .u-updated {
            .mr(0);
            opacity: 0.75;
            color: #666;
        }

        .u-post-remark,
        .u-quest-level {
            .color(grey);
        }

        .u-post-remark {
            margin: 5px 0;
        }
    }

    .u-post-body {
        .u-excerpt {
            .db;
            .mt(6px);
            color: #999;
            .lh(1.6);
        }
    }

    .u-post-head {
        .u-quest .u-quest-name:hover,
        .u-author .u-name:hover {
            text-decoration: underline !important;
            text-underline-offset: 2px;
        }
    }
}
