@import "./grid-layout.less";
.m-list-head {
    .grid-layout;
    font-size: 12px;
    font-weight: 500;
    min-height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #d7dae2;
    color: #666;

    > div:nth-child(3) {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .m-list-head {
        .none;
    }
}
