@media screen and (max-width: @ipad-y) {
    .c-main {
        padding: 0 20px;
    }
}

// 侧边栏
.el-tree {
    background: none !important;
}

.el-tree-node__label {
    width: 100%;
}

.c-sidebar-right {
    background-color: #fff !important;
}


// 图标
.u-icon {
    border-radius: 4px;
}
.quality-0 {
    color: #a7a7a7;
}
.quality-1 {
    color: #fff;
}
.quality-2 {
    color: #00d24b;
}
.quality-3 {
    color: #007eff;
}
.quality-4 {
    color: #ff2dff;
}
.quality-5 {
    color: #ffa500;
}

@import "./common/block.less";
@import "./common/index.less";
@import "./common/list.less";
@import "./common/single.less";
@import "./common/wiki.less";
@import "./miniprogram/app.less";
