.c-main {
    .m-item-container {
        .u-name.white {
            color: @color !important;
            // font-weight: lighter;
            // text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000,0 -1px #000000;
        }
    }
}
@media screen and (max-width: @ipad-y) {
    .c-main {
        padding: 0 20px;
    }
}

.u-icon {
    // width: auto;
    // height: auto;
    border-radius: 4px;
}

.el-tree {
    background: none !important;
}

.el-tree-node__label {
    width: 100%;
}

.c-sidebar-right {
    background-color: #fff !important;
}

.quality-0 {
    color: #a7a7a7;
}
.quality-1 {
    color: #fff;
}
.quality-2 {
    color: #00d24b;
}
.quality-3 {
    color: #007eff;
}
.quality-4 {
    color: #ff2dff;
}
.quality-5 {
    color: #ffa500;
}

@import "./common/block.less";
@import "./common/index.less";
@import "./common/single.less";
@import "./miniprogram/miniprogram.less";
