//旧
@bg-blue: #2e97de;
@bg-or: #e36209;

@border-hover: #17e0c2;
@border-active: #39d45d;

@color-cyan: #17e0c2;
@color-cl: #1abc9c;
@color-blue: #00b9eb;
@color-yellow: #ffff00;

@color-gray: #586069;
@color-pp: #6f42c1;
