@import "../common/wiki-stat-strip.less";

.m-breadcrumb.m-item-breadcrumb {
    .wiki-stat-strip();
    margin-right: 120px;
    float: none;

    @media screen and (max-width: @ipad) {
        margin-right: 0;
    }
}
