.m-footer {
    background-color: #f7f7f7;
    .fz(12px,28px);
    padding: 2px 8px;
    .clearfix;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    .x;
    color: @v4text;
    a {
        color: @v4text;
        &:hover {
            color: @v4primary;
        }
    }
    .u-link {
        color: @v4tip;
        &:hover {
            color: @v4primary;
            box-shadow: 0 1px 0 @v4primary;
        }
    }
}
