.m-quest-home {
    .c-wiki-panel .m-panel-head .m-panel-title {
        .flex;
        align-items: center;
        gap: 5px;
    }
}

@media screen and (max-width: @ipad) {
    .m-quest-home {
        .u-qlinks {
            gap: 10px;
        }

        .m-posts {
            .m-post {
                width: 100%;
            }
        }
    }
}
