@import "../common/wiki-tree-nav.less";

.m-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .h(100%);

    .m-nav-header {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .m-related-roles {
            .el-select {
                .db;
            }
        }

        .u-keyword {
            .mb(0);
        }

        .m-filters {
            margin-bottom: 0;
        }
    }

    @search-input-height: 50px;

    .m-menus-panel {
        .w(100%);
        .h(calc(~"100% - 30px -" @search-input-height));
        overflow-y: auto;
        overflow-x: hidden;
        .scrollbar();
    }

    .m-menus {
        background-color: transparent;
    }

    .m-filters {
        .flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
        padding-right: 5px;
        box-sizing: border-box;
        .el-checkbox {
            .flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
        }
        .u-completed-num {
            font-style: italic;
            color: @v4primary;
            font-size: 14px;
        }
        .u-total-num {
            color: gray;
            font-size: 14px;
        }
    }
}
