.m-wiki-post-empty {
    .u-msg-yellow;
    .x;
    .s-link {
        .underline(3px,solid,#8a6d3b);
    }
    letter-spacing: 2px;
    .fz(14px);

    .flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    &.is-robot-empty {
        width: 100%;
        height: 42px;
        border-radius: 8px;
        box-sizing: border-box;
        background: linear-gradient(to top, #383838 0%, #000000 100%);

        border: 1px solid #6e6e6e !important;

        box-shadow: inset 0px 10px 5px #000000;
        text-shadow: none !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;

        color: rgba(#fff, 0.75) !important;
    }
}

.m-wiki-compatible {
    .u-msg-yellow;
    margin: 10px auto;
    padding: 5px 10px;

    a {
        .underline(@v4primary);
    }
}

.m-wiki-signature {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    color: #999;
    .fz(12px, 2);
    border-top: 1px dashed #ddd;
    padding: 5px 0;
    white-space: nowrap;

    .legacy-icon,
    [data-legacy-icon] {
        flex: none;
        width: 1em;
        height: 1em;
        color: inherit;
        fill: currentColor;
        vertical-align: middle;
    }
}

.m-wiki-post-panel {
    .c-wiki-panel {
        .m-panel-title {
            .u-icon {
                font-size: 22px;
                .size(22px);
                fill: @v4primary;
                color: @v4primary;
            }
            .u-txt {
                .fz(15px,22px);
                color: @color;
                .smooth;
            }
        }
        .m-panel-actions {
            .u-btn--link {
                .flex(y);
                .gap(3px);
            }
        }
    }
}

.m-wiki-thx-panel {
    .w-thx {
        .w-boxcoin-records-list,.w-thx-copyright {
            background-color: #fff;
        }
        .w-boxcoin-records-pages *{
            background: none;
        }
    }
}
