.m-wiki-post-empty {
    .u-msg-yellow;
    .x;
    .s-link {
        .underline(3px,solid,#8a6d3b);
    }
    letter-spacing: 2px;
    .fz(14px);

    .flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    &.is-robot-empty {
        width: 100%;
        height: 42px;
        border-radius: 8px;
        box-sizing: border-box;
        background: linear-gradient(to top, #383838 0%, #000000 100%);

        border: 1px solid #6e6e6e !important;

        box-shadow: inset 0px 10px 5px #000000;
        text-shadow: none !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;

        color: rgba(#fff, 0.75) !important;
    }
}
