@media screen and (max-width: @ipad) {
    .wechat-miniprogram {
        .c-breadcrumb {
            position: sticky;
            top: 0;
        }

        .c-main {
            margin-top: 0;
        }

        .c-sidebar-left,
        .c-sidebar-right {
            top: 48px;
        }
    }
}

@import "./miniprogram-light.less";
@import "./miniprogram-dark.less";
