@media (prefers-color-scheme: dark) {
    .c-var {
        --black-5: rgba(#ffffff, 0.05);
        --black-10: rgba(#ffffff, 0.1);
        --black-20: rgba(#ffffff, 0.2);
        --black-40: rgba(#ffffff, 0.4);
        --black-80: rgba(#ffffff, 0.8);
        --black-100: #ffffff;

        --white-5: rgba(#1c1c1c, 0.05);
        --white-10: rgba(#1c1c1c, 0.1);
        --white-20: rgba(#1c1c1c, 0.2);
        --white-40: rgba(#1c1c1c, 0.4);
        --white-80: rgba(#1c1c1c, 0.8);
        --white-100: #1c1c1c;

        --primary-brand: #282828;
        --primary-brand-2: #fedaa3;
        --primary-brand-3: #24292e;
        --primary-light: rgba(#ffffff, 0.05);
        --primary-white: #ffffff;
        --primary-brand-4: #282828;

        --secondary-indigo: #5856d6;
        --secondary-purple: #af52de;
        --secondary-cyan: #32ade6;
        --secondary-blue: #1886fe;
        --secondary-green: #34c759;
        --secondary-mint: #00c7be;
        --secondary-yellow: #ffcc00;
        --secondary-orange: #ff9500;
        --secondary-red: #ff3b30;
    }
}
