.m-knowledge-panel {
    .fz(14px,1.6);
    .m-title {
        .flex;
        justify-content: space-between;
        padding: 10px;
        color: #6c645c;
        margin: 0 0 15px 0;
        border-bottom: 1px solid #eee;

        .u-more {
            .underline(@v4primary);
            .fz(12px);
        }
        .u-text,
        .u-title-left {
            .flex;
            align-items: center;
            gap: 5px;
        }
    }
    .m-recent {
        .m-post {
            .u-remark {
                color: grey;
            }
            .u-name{
                color:@color;
            }
            .u-updated{
                color:#666;
            }
        }
    }
}
