@import "../common/wiki-tree-nav.less";

.is-leaf + .el-tree-node__label {
    .flex;
    align-items: center;
}

.el-tree-node__label {
    .u-leaf-name {
        max-width: 160px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.m-nav {
    .m-menus-panel {
        .w(100%);
        overflow-y: auto;
        overflow-x: hidden;
        .scrollbar();
    }
}
