@import "../common/wiki-stat-strip.less";

.m-achievement-count {
    .wiki-stat-strip();
    float: left;
    max-width: calc(100% - 350px);

    @media screen and (max-width: @ipad) {
        float: none;
        max-width: 100%;
    }
}
