.m-home-view {
    .m-carousel {
        @m-hot-icon-radius: 6px;

        .u-icon {
            position: relative;
            .fl;
            width: 48px;
            margin-left: 7px;
            line-height: 0;
            overflow: hidden;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                border: 4px solid #24292e;
                border-radius: @m-hot-icon-radius;
                z-index: 10;
                box-sizing: border-box;
            }

            img {
                display: inline-block;
                border-radius: @m-hot-icon-radius;
            }
        }

        .m-carousel-content {
            margin-left: 65px;
            margin-right: 10px;

            & > span {
                display: block;
            }

            .u-title {
                .flex;
                align-items: center;
                gap: 5px;
                font-size: 14px;
                line-height: 16px;
            }

            .u-desc,
            .u-rank {
                .flex;
                align-items: center;
                gap: 5px;
                margin-top: 3px;
                font-size: 12px;
                line-height: 16px;
            }

            .u-desc {
                opacity: 0.6;

                i,
                span {
                    display: inline-block;
                    vertical-align: middle;
                }

                span {
                    width: calc(100% - 20px);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .u-rank {
                color: slateblue;
                white-space: nowrap;

                i {
                    margin-right: 3px;
                }

                span {
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }

        .u-item {
            position: relative;
            .db;
            .w(100%);
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid #d7dae1;
            border-left: none;
            background-color: #f5f7fa;
            border-radius: 5px;
            color: #3d454d;
            overflow: hidden;
            .h(66px);

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                border-left: 5px solid @v4primary;
            }
        }

        .u-item-new {
            padding-top: 8px;

            .u-title {
                .lh(24px);
            }
        }

        &.m-hot {
            .u-item-0:before {
                border-left-color: #fc3c3c;
            }

            .u-item-1:before {
                border-left-color: #fba524;
            }

            .u-item-2:before {
                border-left-color: #fe7979;
            }
        }
    }
}
