@import "../common/wiki-sidebar.less";

.m-left-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    height: 100%;

    .m-nav-header {
        .wiki-sidebar-header();
        flex-shrink: 0;

        .el-select {
            display: block;
            margin-bottom: 0;
        }

        .el-select__wrapper {
            font-size: 12px;
        }

        .m-filters {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            box-sizing: border-box;

            .el-checkbox {
                display: flex;
                align-items: center;
                background-color: #fff;
            }

            .u-completed-num {
                color: @v4primary;
            }
        }
    }

    .u-sync-tip {
        margin-bottom: 10px;
        padding: 10px;
    }

    .u-cj-home {
        .wiki-sidebar-home();
    }

    .m-menus {
        @import "../common/wiki-tree-nav.less";
        .wiki-sidebar-tree();

        .el-tree {
            background: transparent;
        }

        .el-tree-node__label .u-count {
            display: block;
        }


    }
}
